// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header.header-nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(169,240,255, 0.25);
  align-items: center;
  color: rgba(208,247,255, 0.9);
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.header-user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-nav-logo {

}

.header-links {

}

.sidebar-container {
  text-align: center;
}

section.businesses-content {
  display: flex;
}

section.sidebar-container {
  height: 495px;
  width: 250px;
  border-left: 2px solid rgba(169,240,255, 0.25);
  border-right: 2px solid rgba(169,240,255, 0.25);
  border-bottom: 2px solid rgba(169,240,255, 0.25);
}

.sidebar-container input[type="text"] {
  margin: 20px 0 0 0;
  width: 180px;
}

.filter-tag {
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  color: rgba(208,247,255, 0.9);
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.filter-tag:hover {
  background: rgba(228,250,255, 0.25);
  cursor: pointer;
}

.filter-tag-list a {
  display: flex;
  flex-direction: column;
}

section.business-index {
  min-width: 400px;
  color: rgba(208,247,255, 0.75);
  text-shadow:
    /*1px 1px 1px #000,*/
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
  font-size: 12px;
}

.business-index-item-name {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.business-index-item-profile-picture {
  margin-right: 10px;
}

.business-index-item-profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid black;
}

.business-index-item-name-ratings {
  display: flex;
}

.business-index-item-data-field {
  display: flex;
  justify-content: space-between;
}

.business-index-item-address {
  font-size: 16px;
  text-align: right;
}

.business-index-item {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid rgba(169,240,255, 0.25);
}

.business-index {
  overflow: scroll;
}

li.business-index-item:hover {
  cursor: pointer;
  background: rgba(228,250,255, 0.25);
}

#root, html {
  background-color: #002a33;
}

.businesses-content {
  height: 95vh;
}
