// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



header.header-nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
}

.header-user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-nav-logo {

}

.header-links {

}

.sidebar-container {
  text-align: center;
}

section.businesses-content {
  display: flex;
}

section.sidebar-container {
  width: 250px;
  border: 2px solid black;
}

.filter-tag {
  text-decoration: none;
  text-align: center;
  padding: 2px 0;
  color: rgba(208,247,255, 0.9);
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.filter-tag:hover {
  background: #fce4db;
  cursor: pointer;
}

.filter-tag-list a {
  display: flex;
  flex-direction: column;
}

section.business-index {
  min-width: 500px;
}

.business-index-item-profile-picture {
  margin-right: 10px;
}

.business-index-item-data-field {
  display: flex;
  justify-content: space-between;
}

.business-index-item-name-ratings {
  display: flex;
  flex-direction: column;
}

.business-index-item {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.business-index-item-description {
  margin-top: 10px;
}

li.business-index-item:hover {
  cursor: pointer;
  background: #fad6c9;
}

#root, html {
  background-color: #002a33;
}
