// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header.header-nav {
  display: flex;
  justify-content: space-between;
  background: rgba(69, 115, 147, 1);
  // border: 2px solid rgba(169,240,255, 0.25);
  align-items: center;
  color: #0b141a;
  position: relative;
  border-bottom: 2px solid rgba(169,240,255, 0.25);
  border-left: 2px solid rgba(169,240,255, 0.25);
  border-right: 2px solid rgba(169,240,255, 0.25);
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
  // color: rgba(208,247,255, 1);
  // color: #060c0d;
  // text-shadow:
  //   -1px -1px 0 rgba(0, 0, 0, 0.75),
  //   1px -1px 0 rgba(0, 0, 0, 0.75),
  //   -1px 1px 0 rgba(0, 0, 0, 0.75),
  //   1px 1px 0 rgba(0, 0, 0, 0.75);
  // -webkit-text-fill-color: rgba(208,247,255, 1); /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: black;
}

// .business-index {
//   height: 100%;
// }

.header-nav-logo img {
  height: 36px;
  width: auto;
  margin: 0 10px 0 0;
}

.header-nav-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  // color: #d1eefe;
  // text-shadow:
  //   -1px -1px 0 rgba(0, 0, 0, 0.75),
  //   1px -1px 0 rgba(0, 0, 0, 0.75),
  //   -1px 1px 0 rgba(0, 0, 0, 0.75),
  //   1px 1px 0 rgba(0, 0, 0, 0.75);
}

.header-profile-image-logout img {
  height: 36px;
  width: auto;
  margin: 0 0 0 15px;
  border: 1px solid black;
}

.header-nav-logo:hover {
  cursor: pointer;
}

.header-welcome {

}

.header-user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-nav-logo {
  margin-left: 24px;
}

.header-links {

}

section.businesses-content {
  display: flex;
  height: calc(100vh - 46px);
}

section.sidebar-container {
  text-align: center;
  margin: 10px 0 0 0;
  background: rgba(69, 115, 147, 1);
  height: 491px;
  width: 250px;
  border: 2px solid rgba(169,240,255, 0.25);
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.sidebar-container input[type="text"] {
  // margin: 20px 0 0 0;
  width: 180px;
  border-radius: 5px;
  height: 24px;
  font-size: 16px;
}

.filter-tag {
  text-decoration: none;
  text-align: center;
  padding: 5px 0;
  // color: rgba(208,247,255, 0.85);
  color: #d1eefe;
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.filter-tag:hover {
  background: rgba(228,250,255, 0.25);
  cursor: pointer;
  transition: 1s ease;
}

.filter-tag-list a {
  display: flex;
  flex-direction: column;
}

.no-business-results {
  margin: 40px 0 0 0;
  text-align: center;
  font-size: 24px;
  width: 520px;
}

.fa-exclamation-triangle {
  margin: 0 0 30px 0;
}

section.business-index-with-detailed-item {
  min-width: 420px;
  max-width: 520px;
  color: #0b141a;
  // color: rgba(208,247,255, 0.8);
  // text-shadow:
  //   -1px -1px 0 rgba(0, 0, 0, 0.75),
  //   1px -1px 0 rgba(0, 0, 0, 0.75),
  //   -1px 1px 0 rgba(0, 0, 0, 0.75),
  //   1px 1px 0 rgba(0, 0, 0, 0.75);
  text-shadow:
    -1px -1px 0 rgba(208,247,255, 0.05),
    1px -1px 0 rgba(208,247,255, 0.05),
    -1px 1px 0 rgba(208,247,255, 0.05),
    1px 1px 0 rgba(208,247,255, 0.05);
  // text-shadow:
  //   -1px -1px 0 rgba(199,178,155, 0.1),
  //   1px -1px 0 rgba(199,178,155, 0.1),
  //   -1px 1px 0 rgba(199,178,155, 0.1),
  //   1px 1px 0 rgba(199,178,155, 0.1);

  font-size: 12px;
}

.business-index-item-name {
  font-size: 16px;
  margin: 0 10px 10px 0;
}

.business-index-item-profile-picture {
  margin-right: 10px;
}

.business-index-item-profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid black;
}

.business-index-item-name-ratings {
  display: flex;
}

.business-index-item-data-field {
  display: flex;
  justify-content: space-between;
  // background: rgba(124, 153, 170, 0.9);
}

.business-index-item-address {
  font-size: 16px;
  text-align: right;
}

.business-index-item {
  padding: 10px;
  // margin: 0 10px;
  border-bottom: 1px solid rgba(228,250,255, 0.15);
  border-top: 1px solid rgba(228,250,255, 0.15);
}

.business-index-item:first-child {
  border-top: 0;
}


.business-index-list {
  height: 91.9vh;
  overflow-y: scroll;
  background: #7c99aa;
  border-top: 1px solid rgba(169,240,255, 0.25);
  margin: 10px 10px 0 10px;
  border: 2px solid rgba(169, 240, 255, 0.2);
  color: #0b141a;
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

.business-index-item-detailed {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgba(169,240,255, 0.2);
  background: rgba(124, 153, 170, 1);
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

li.business-index-item:hover {
  cursor: pointer;
  background: rgba(41, 71, 95, 0.12);
  transition: 0.7s ease;
}

.businesses-content {
  height: 100%;
}

.business-item-detailed-separator {
  margin: 2px 0 0 0;
  width: 100%;
  height: 2px;
  background: rgba(169,240,255, 0.2);
}

.business-index-item-detailed-images img {
  height: 100px;
  margin: 0 5px;
  border: 1px solid black;
  transition: all 400ms ease;
}

.business-index-item-detailed-images img:hover {
  transform:scale(2);
  z-index: 9001;
  cursor: crosshair;
}

.business-index-item-detailed-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0 0 0;
}

// .header-user-profile > li {
//   position: relative;
// }

.profile-links {
  display: none;
  position: absolute;
  right: 0;
  bottom: -24px;
  font-size: 14px;
  white-space: nowrap;
  background: #2b4251;
  border: 1px solid #465761;
  overflow: hidden;
}

.profile-links li {
  width: 100px;
  height: 18px;
  border: 2px solid rgba(169,240,255, 0.25);
  color: rgba(208,247,255, 0.9);
}

.profile-links li:hover {
  background: rgba(228,250,255, 0.25);
}

.header-profile-image-logout {
  display: flex;
  align-items: center;
  position: relative;
  margin: 3px 2px 2px 0;
}

.header-profile-image-logout img:hover {
  cursor: pointer;
}

.header-profile-image-logout:hover .profile-links {
  display: block;
}

.profile-links:hover {
  cursor: pointer;
}

.fa-search {
  // color: rgba(208,247,255, 0.85);
  color: #0b141a;
  // color: #0b141a;
  margin: 0 0 0 5px;
}

.search-box {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollIntro {
  font-size: 16px;
  text-align: center;
  margin: 5px 10px;
}

.fa-angle-double-down {
  margin: 0 10px;
}
