// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.review-index-container {
  padding: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 600px;
}

.new-review-form {

}

.review-details {
  font-size: 14px;
}

.review-index-item {
  padding: 10px 0;
  border-top: 1px solid black;
}

.review-profile-picture {
  margin: 0 10px 0 0;
}

.review-user-info {
  display: flex;
  align-items: center;
}

.review-content {
  margin: 10px 0 0 0;
}

input[type=radio]:hover {
  cursor: pointer;
}
