// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.review-index-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  word-wrap: break-word;
  height: 84vh;
  min-width: 200px;
  max-width: 250px;

  color: rgba(208,247,255, 0.75);
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
  border-left: 2px solid rgba(169,240,255, 0.25);
  border-right: 2px solid rgba(169,240,255, 0.25);
  border-bottom: 2px solid rgba(169,240,255, 0.25);
}

.review-index-container img {
  margin-right: 5px;
}

.new-review-form {
  font-size: 14px;
}

.new-review-form textarea {
  width: 95.5%;
  height: 80px;
  margin: 0 0 5px 0;
}

.new-review-form button {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.review-index-item {
  font-size: 14px;
  padding: 10px 0;
  border-top: 1px solid rgba(169,240,255, 0.25);
}

.review-profile-picture {
  margin: 0 10px 0 0;
}

.review-user-info {
  display: flex;
  align-items: center;
}

.review-content {
  margin: 10px 0 0 0;
}

input[type=radio]:hover {
  cursor: pointer;
}
