// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.splash-text.visible {
  transition: opacity 2.5s;
  opacity: 1;
}

.splash-text {
  opacity: 0;
  font-size: 48px;
  margin: 15vh 0 10vh 0;
  text-align: center;
  color: rgba(208,247,255, 0.9);
  text-shadow: 1px 1px 1px #000, -2px -2px 0 rgba(0, 0, 0, 0.75), 2px -2px 0 rgba(0, 0, 0, 0.75), -2px 2px 0 rgba(0, 0, 0, 0.75), 2px 2px 0 rgba(0, 0, 0, 0.75);
  opacity: 0;
  will-change: opacity;
}

.session-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(208,247,255, 0.8);
  width: 100vw;
  // background: url('http://res.cloudinary.com/dnmknegr2/image/upload/c_scale,w_1920/v1473099416/photo-1471110338536-858caa3dbe45_hckeda.jpg') no-repeat;
  // background-size: cover;
}

.splash-title {
  font-size: 36px;
}

.session {
  // margin-bottom: 20%;
  margin: 0 0 10% 0;
  padding: 10px 0;
  background: rgba(0, 42, 51, 0.75);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgba(169,240,255, 0.1);
  // height: 176px;
  min-height: 216px;
  // width: 496px;
  width: 570px;
  text-shadow:
    1px 1px 1px #000,
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.75),
    1px -1px 0 rgba(0, 0, 0, 0.75),
    -1px 1px 0 rgba(0, 0, 0, 0.75),
    1px 1px 0 rgba(0, 0, 0, 0.75);
}

div.splash-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
}



h1.splash-title {
  text-align: right;
  margin: 10px;
}

p.splash-description {
  text-align: right;
  margin: 10px;
}

div.session-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px 10px 15px;
  border-left: 2px solid rgba(169,240,255, 0.1);
}

div.guest-login-container {
  display: flex;
  justify-content: center;
}

div.guest-login-container button {
  width: 8em;
  margin: 0 0 0 10px;
}

form.session-form {
  margin: 20px 20px 20px 30px;
}

button {
  background: rgba(22, 28, 29, 0.5);
  border: 2px solid rgba(169,240,255, 0.25);
  color: rgba(208,247,255, 0.9);
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 1),
    1px -1px 0 rgba(0, 0, 0, 1),
    -1px 1px 0 rgba(0, 0, 0, 1),
    1px 1px 0 rgba(0, 0, 0, 1);
  box-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.25),
    1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25),
    1px 1px 0 rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

div.login-signup-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 10px;
}

.session-form-container button {
  height: 2.5em;
  width: 6em;
  letter-spacing: 0.5px;
  font-size: 16px;
}

textarea, .session-form input[type="text"] {
  background: inherit;
  border: none;
  border-radius: 3px;
  border-left: 2px solid rgba(169,240,255, 0.3);
  border-bottom: 2px solid rgba(169,240,255, 0.3);
  color: rgba(208,247,255, 0.75);
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  width: 180px;
  letter-spacing: 0.5px;
  transition: border 0.5s;
}
//   background: rgba(22, 28, 29, 0.5);
input[type="text"] {
  padding: 7.5px;
  border: 2px rgba(169,240,255, 0.3);
  background: rgba(22, 28, 29, 0.5);
}

.session input:hover {
  outline: none;
  border-left: solid 2px #879fa5;
  border-bottom: solid 2px #879fa5;
}

button:hover {
  cursor: pointer;
  background: rgba(228,250,255, 0.25);
}

.session input:focus {
  outline: none;
  border-left: solid 2px #b9dbe2;
  border-bottom: solid 2px #b9dbe2;
  transition: 1s;
}

.session label {
  font-size: 14px;
  letter-spacing: 1px;
}
