// Place all the styles related to the api/tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar-search-input {
  text-indent: 10px;
  color: white;
  letter-spacing: 0.4px;
  width: 80%;
}

#map-container {
  margin: 20px 0 0 0;
  width: 346px;
  height: 336px;
  text-decoration: none;
  border: 2px solid rgba(169,240,255, 0.25);
}